body {
    background-color: rgb(72, 175, 189);
}
h1 {
    font-family: 'Indie Flower', cursive;
    color: rgb(59, 55, 55);
    font-size: 50px;
}
.wrapper {
    display: block;
    margin: 40px auto;
    text-align: center; 
}
p{text-align: center;
font-family: 'Indie Flower', cursive;}
h2 {
    font-family: 'Indie Flower', cursive;
    font-weight: 100;
    font-size: 16px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15px;
    color:rgb(68, 66, 66) ;
}
.mysite {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

.footer {
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
    
}
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }

.website-content {
    flex: 1;
}
a {
    text-decoration: none;
    transition-duration: 0.4s;

}
a:link {
    color:white;
}

a:active {
    color: rgb(212, 183, 53);
}

a:visited {
    color: #1B428C;
}

a:hover {
    color: rgb(212, 183, 53);
}



.congratulations {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 40px;
}

#btnReset, #btn
{
    font-family: 'Indie Flower', cursive;
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 16px;
    transition-duration: 0.3s;
    background-color: rgb(212, 183, 53);
    width: 100px;
    height: 50px;
 
}

#btn:hover, #btnReset:hover {
    background-color:white;
    color: rgb(221, 101, 32);
}
     
input {
  display: block;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  margin: 10px auto;
  width: 400px;
  height: 50px;
  -webkit-appearance: none;
  font-size: 0.9rem;
padding-left: 7px;
background-color: rgb(212, 183, 53);
}

input[name="username"]::-webkit-input-placeholder {
  color: rgb(153, 15, 233); }

input[name="username"]::-moz-placeholder {
  color: rgb(153, 15, 233); }

input[name="username"]:-ms-input-placeholder {
  color: rgb(153, 15, 233); }

input[name="username"]:-moz-placeholder {
  color: rgb(153, 15, 233); }

input[name="mail"]::-webkit-input-placeholder {
  color: rgb(153, 15, 233); }

input[name="mail"]::-moz-placeholder {
  color: rgb(153, 15, 233); }

input[name="mail"]:-ms-input-placeholder {
  color: rgb(153, 15, 233); }

input[name="mail"]:-moz-placeholder {
  color: rgb(153, 15, 233); }

input[name="password"]::-webkit-input-placeholder {
  color: rgb(153, 15, 233); }

input[name="password"]::-moz-placeholder {
  color: rgb(153, 15, 233); }

input[name="password"]:-ms-input-placeholder {
  color: rgb(153, 15, 233); }

input[name="password"]:-moz-placeholder {
  color: rgb(153, 15, 233); }

input:invalid {
  color: orangered; }